//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 20 20:31:08 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CA" LOCATE = SITE "T17" LEVEL 1;
COMP "CB" LOCATE = SITE "T18" LEVEL 1;
COMP "CC" LOCATE = SITE "U17" LEVEL 1;
COMP "CD" LOCATE = SITE "U18" LEVEL 1;
COMP "CE" LOCATE = SITE "M14" LEVEL 1;
COMP "CF" LOCATE = SITE "N14" LEVEL 1;
COMP "CG" LOCATE = SITE "L14" LEVEL 1;
COMP "DP" LOCATE = SITE "M13" LEVEL 1;
COMP "AN0" LOCATE = SITE "N16" LEVEL 1;
COMP "AN1" LOCATE = SITE "N15" LEVEL 1;
COMP "AN2" LOCATE = SITE "P18" LEVEL 1;
COMP "AN3" LOCATE = SITE "P17" LEVEL 1;
COMP "LD0" LOCATE = SITE "U16" LEVEL 1;
COMP "LD1" LOCATE = SITE "V16" LEVEL 1;
COMP "LD2" LOCATE = SITE "U15" LEVEL 1;
COMP "LD3" LOCATE = SITE "V15" LEVEL 1;
COMP "LD4" LOCATE = SITE "M11" LEVEL 1;
COMP "LD5" LOCATE = SITE "N11" LEVEL 1;
COMP "LD6" LOCATE = SITE "R11" LEVEL 1;
COMP "LD7" LOCATE = SITE "T11" LEVEL 1;
COMP "SW0" LOCATE = SITE "T10" LEVEL 1;
COMP "SW1" LOCATE = SITE "T9" LEVEL 1;
COMP "SW2" LOCATE = SITE "V9" LEVEL 1;
COMP "SW3" LOCATE = SITE "M8" LEVEL 1;
COMP "SW4" LOCATE = SITE "N8" LEVEL 1;
COMP "SW5" LOCATE = SITE "U8" LEVEL 1;
COMP "SW6" LOCATE = SITE "V8" LEVEL 1;
COMP "SW7" LOCATE = SITE "T5" LEVEL 1;
COMP "BTND" LOCATE = SITE "C9" LEVEL 1;
COMP "BTNL" LOCATE = SITE "C4" LEVEL 1;
COMP "BTNR" LOCATE = SITE "D9" LEVEL 1;
COMP "BTNS" LOCATE = SITE "B8" LEVEL 1;
COMP "BTNU" LOCATE = SITE "A8" LEVEL 1;
COMP "RED0" LOCATE = SITE "U7" LEVEL 1;
COMP "RED1" LOCATE = SITE "V7" LEVEL 1;
COMP "RED2" LOCATE = SITE "N7" LEVEL 1;
COMP "GCLK0" LOCATE = SITE "V10" LEVEL 1;
COMP "BLUE0" LOCATE = SITE "R7" LEVEL 1;
COMP "BLUE1" LOCATE = SITE "T7" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "N6" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P7" LEVEL 1;
COMP "GREEN0" LOCATE = SITE "P8" LEVEL 1;
COMP "GREEN1" LOCATE = SITE "T6" LEVEL 1;
COMP "GREEN2" LOCATE = SITE "V6" LEVEL 1;
SCHEMATIC END;

